<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="header">Please check this ad for profanity</div>
    <p>{{text}}</p>
    <h1>Welcome to AUTO.RIA</h1>
    <a href="{{frontUrl}}/ad_verification">CLICK TO RESTORE YOUR PASSWORD</a>
</div>
<footer>
    <a href="https://google.com">GOOOOOOOGLE</a>
</footer>
</body>
</html>